.el-tabs__active-bar {
    position: absolute;
    bottom:38px;
    left: 0;
    height: 2px;
    background-color: #ff3333;
    z-index: 1;
    -webkit-transition: -webkit-transform .3s cubic-bezier(.645, .045, .355, 1);
    transition: -webkit-transform .3s cubic-bezier(.645, .045, .355, 1);
    transition: transform .3s cubic-bezier(.645, .045, .355, 1);
    transition: transform .3s cubic-bezier(.645, .045, .355, 1), -webkit-transform .3s cubic-bezier(.645, .045, .355, 1);
    list-style: none
}
.el-tabs__nav-wrap::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 38px;
    width: 100%;
    height: 2px;
    background-color: #E4E7ED;
    z-index: 1
}
